
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Customers</h1>

@if (Model.Customers.Count <= 0)
{
    <p>We don't have any customers yet, bro.</p>
}
else
{
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Customer</td>
        </tr>
    </thead>
    @foreach (var customer in Model.Customers)
    {
        var customerLink = "/Customers/Details/" + customer.Id;
        <tr>
            <td><a href="@customerLink">@customer.Name</a></td>
        </tr>
    }
    </table>
}


